body {
	background-image: url("../images/background2.png");
	/*background-position: 50% 30%; <---- Allow background.png to work properly*/ 
	color: white;
}

.container {
    margin: 0;
}

#footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}

#row-1 {  
    padding: 5px;
    padding-left:  15px;
    padding-right: 15px;
    margin-bottom: 10px;
    background-color: rgba(54, 25, 25, .00004);
    border-radius: 0 0 5px 5px;
    border-style: solid;
    border-color: #36F4A6;
}

#row-2 {
    padding: 5px;
    padding-left:  15px;
    padding-right: 15px;
    margin-bottom: 10px;
    background-color: rgba(54, 25, 25, .00004);
    border-radius: 0 0 5px 5px;
    border-style: solid;
    border-color: #ff99ff;
}
#row-3 {
    padding: 5px;
    padding-left:  15px;
    padding-right: 15px;
    margin-bottom: 10px;
    background-color: rgba(54, 25, 25, .00004);
    border-radius: 0 0 5px 5px;
    border-style: solid;
    border-color: #80ffff;
}

#row-4 {
    padding: 5px;
    padding-left:  15px;
    padding-right: 15px;
    background-color: rgba(54, 25, 25, .00004);
    border-radius: 0 0 5px 5px;
    border-style: solid;
    border-color: #ffff66;

}

ul#menu {
    padding: 0;
    margin-bottom: 11px;
    padding-top: 20px;
}

ul#menu li {
    display: inline;
    margin-right: 3px;
}

ul#menu li a {
    background-color: white;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    color: white;
    background-color: gray;
} 